@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <form asp-controller="Account" asp-action="Logout" id="logoutForm" method="post" class="navbar-left">
        <li class="nav-item">
            <button type="submit" style="width:auto" class="nav-link btn btn-link py-0 text-light">
                <i class="fa-solid fa-door-open icon-logout hover-icon"></i>&nbsp;Sair
            </button>
        </li>
    </form>
}
</ul>
